* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


table,
tr,
td {
    border: 1px solid black;
}

table {
   border-collapse: collapse;
   margin: 0 auto;
}

tr {
   height: 18px;
}

td {
   width: 18px;
   background-color: white;
}

